<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/styles/generalPage.css">
</head>
<body>
    <hr>
    <div class="mainServices">
        <h4>Welcome!</h4>
        <h6><%=userCredentials?.email%></h6>
        <h6><%=userCredentials?.userName%></h6>
        <hr>
        <h1>Pending Orders</h1>
        <hr>
        
        <% if (orders && orders.length > 0) { %>
            <% for (let i = 0; i < orders.length; i++) { %>
                <h2>Order No: <%= i %></h2>
                <% let order = orders[i]; %>
                <table>
                    <tr>
                        <th>Client Name</th>
                        <th>Email</th>
                        <th>Industry</th>
                        <th>Phone Number</th>
                        <th>Project Type</th>
                        <th>Descripion</th>
                        <th>Platform</th>
                        <th>Budget</th>
                        <th>timeLine</th>
                        <th>Comments</th>
                        <th>Email user</th>
                        
                    </tr>
                    <tr>
                        <td><%=order.fullName%></td>
                        <td><%=order.email%></td>
                        <td><%=order.industry%></td>
                        <td><%=order.phoneNumber%></td>
                        <td><%=order.projectType%></td>
                        <td><%=order.projectDescription%></td>
                        <td><%=order.prefferedPlatform%></td>
                        <td><%=order.timeLine%></td>
                        <td><%=order.additionalComments%></td>
                        <td><%=order.loggedinUserEmail%></td>
                    </tr>
                </table>
                <hr>
            <% } %>
            
        <% } else { %>
            <h2>No orders available.</h2>
        <% } %>
        
    </div>
    
</body>
</html>